* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.top {
    background-color: #023a5c;
    height: 88px;
    width: 100%;
}

header {
    max-width: 998px;
    margin: 0 auto;
    position: relative;
    height: 220px;

    border-bottom: dotted black 2px;

}

header img.logo {
    top: -86px;
    position: absolute;
    background-color: white;
    padding: 17px 39px 2px 24px;
}

nav.top img {
    position: absolute;
    transform: scale(0.8);
    right: 20px;
    top: 31px;
    cursor: pointer;
}

nav.top img:hover~input {
    opacity: 1;
}

nav.top input.hide {
    opacity: 1;
}

nav.top input {
    color: white;
    opacity: 0;
    right: 65px;
    top: 29px;
    position: absolute;
    height: 32px;
    width: 177px;
    font-size: 13px;
    background-color: #00183a;
    border: none;
    box-sizing: border-box;
}

nav.top ul {
    max-width: 998px;
    margin: 0 auto;
    padding-top: 18px;

    height: 70px;
    padding-left: 296px;
    list-style-type: none;
    text-align: center;
}

nav.top ul li {
    float: left;
    line-height: 70px;

    text-align: center;
    margin: 0 19px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

nav.top ul li:nth-child(6) {
    margin: 0 0 0 35px;
    padding: 0 0 0 8px;
}

nav.top ul li:nth-child(4) {
    margin: 0 0 0 26px;
}

nav.top ul li:nth-child(5) {
    margin: 0 0 0 29px;
    padding: 0 0 0 8px;
}

nav.top ul li:nth-child(2) {
    padding: 0 0 0 0.5px;

}


nav.top ul li:nth-child(1) {
    margin: 0 21px 0 12.5px;

}

nav.top ul li:hover {
    text-decoration: underline solid white;
}

header div.about {
    display: block;
    float: left;
    position: absolute;
    left: 56%;
    top: 93px;
    transform: translateX(-50%);
    width: 320px;

}

header div.about img {
    position: absolute;
}

header div.about p {
    position: absolute;
    line-height: 88px;
    font-size: 28px;
    left: 51%;
    transform: translateX(-50%);
    text-align: center;

    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

nav.left {
    float: left;
    margin-left: 50px;
    margin-top: 86px;
    position: relative;
    transition: 0.3s;
}

nav.left li:hover {
    text-decoration: underline solid black;
    cursor: pointer;
}

div.hide {
    opacity: 0;
}

nav.hide {
    margin-left: -100px;
}

nav.left ul {
    list-style-type: none;
    width: 103px;
}

nav.left ul li {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

nav.left ul.first {
    margin-bottom: 17px;

}

nav.left ul.second {
    padding-top: 20px;
    border-top: dotted black 2px;
    padding-bottom: 16px;

}

nav.left ul.second li {
    padding: 4px 0;
}

nav.left ul.second li:nth-child(1) {
    padding: 0;
}

nav.left ul.second li:nth-child(5) {
    padding: 1px 0;
}

nav.left ul.second li:nth-child(6) {
    padding: 5px 0;
}

nav.left ul.third {
    padding-top: 15px;
    border-top: dotted black 2px;
    padding-bottom: 16px;
    border-bottom: dotted black 2px;
}

nav.left ul.third li {
    padding: 4px 0;
}

nav.left ul.third li:nth-child(1) {
    padding: 0;
}

nav.left ul.third li:nth-child(5) {
    padding: 1px 0;
}

nav.left ul.third li:nth-child(6) {
    padding: 5px 0;
}

nav.left ul.third li:nth-child(3) {
    padding: 2px 0;
}

nav.left ul.third li:nth-child(3) {
    padding: 3px 0;
}

nav.left img {
    display: block;
    cursor: pointer;
}

nav.left img:nth-of-type(1) {
    margin-top: 24px;
}

nav.left img:nth-of-type(2) {
    margin-top: 21px;
}

nav.left img.strzalka {
    position: absolute;
    top: 50.6%;
    left: 120.4%;
    cursor: pointer;
    transition: 0.3s;
}

nav.left img.rotate {
    transform: rotate(180deg);
}

nav.left p {
    position: absolute;
    top: 58.7%;
    left: 110.1%;
    opacity: 0.9;
    transition: 0.5s;
}

nav.left p.hide {
    opacity: 0;
}

nav.left img.logobezkola {
    position: absolute;
    top: -13.7%;
    opacity: 0.7;
    left: 140%;
    clip: rect(0px, 200px, 150px, 20px);
    transition: 0.3s;
}

nav.left img.hide {
    opacity: 0;
}

main {
    max-width: 998px;
    margin: 50px auto 0 auto;
    padding: 0;
}

main h2 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

main h2 span {
    font-size: 17px;
}

main section {
    width: 998px;
    display: flex;
    justify-content: space-between;

}

main section div.cleft {
    width: 475px;
    padding: 0;
    margin: 0;
}

main section div.cright {
    width: 480px;
    padding: 0;
    margin-top: 20px;
}

main section div.cleft img {
    padding: 0;
    margin-top: 20px;
    margin-left: -3px;
}

main section p {
    font-size: 16px;
    hyphens: manual;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

main section strong {
    font-weight: normal;
    padding-right: 0px;
    margin-right: 0px;

}

main section div.cleft p:nth-of-type(odd) {
    display: block;

    margin-top: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

main section div.cleft p:nth-of-type(5) {
    margin-top: 12px;
}

main section div.cleft p:nth-of-type(7) {
    margin-top: 10.5px;
}

main section div.cright p:nth-of-type(even) {
    display: block;
    margin-top: 14px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

main section div.cright p.opis {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

br {
    content: " ";
    display: block;
    margin: -3px 0;
}

main section div.cright p:nth-of-type(2) {
    display: block;
    margin-top: 14px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

main section div.cright p:nth-of-type(7) {
    display: block;
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2px;
}

main section div.cright p:nth-of-type(6) {
    font-size: 16px;
    hyphens: manual;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 11px 0 0 0;
}

main section div.cright p:nth-of-type(8) {
    font-size: 16px;
    hyphens: manual;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;

}

footer {
    margin-top: 120px;
    height: 68px;
    background-color: #023a5c;
    width: 100%;
}

@media(max-width:1366px) {
    nav.left {
        float: left;
        margin-left: 20px;
        margin-top: 86px;
        position: relative;
        transition: 0.3s;
    }

    nav.hide {
        margin-left: -100px;
    }

    nav.top input {
        color: white;
        opacity: 0;
        right: 65px;
        top: 12px;
        position: absolute;
        height: 32px;
        width: 127px;
        font-size: 13px;
        background-color: #00183a;
        border: none;
        box-sizing: border-box;
    }

    nav.left img.logobezkola {
        position: absolute;
        top: -13.7%;
        opacity: 0.7;
        left: 125%;
        clip: rect(0px, 200px, 150px, 20px);
        transition: 0.3s;
    }

    nav.left img.hide {
        opacity: 0;
    }
}